h1{text-align: center;
    animation-name: titre;
    animation-direction:reverse ;
    animation-iteration-count: infinite;}
body{background-color: rgb(41, 36, 41);}
fieldset{text-align: center;}
.p{background-color: lightpink;text-decoration:none;margin: 10px;border-radius: 10px;padding: 12px;color:palevioletred; margin-top: 50px;
}
.l1{
    display: inline-block;width: 430px;margin-bottom: 10px;           
}
p{color: aliceblue}
#text{border-radius: 5%;border-color: rgb(88, 79, 88);border-width: 5px;}
img{width:10px;}
div{margin-top: 50px;margin-bottom: 50px}
legend{font-size: 20px;text-align: left;}
@keyframes titre{
    0%{color: rgb(255, 192, 203);}
    50%{color: rgb(255, 105, 180);}
    100%{color: rgb(255, 20, 147);}
}
input{background-color: lightpink;border-radius: 10px;padding: 10px;border-color: palevioletred;color: white;text-align: center;
font-size: 15px;
margin: 140px auto 40px;
display: block;
}