h1{text-align: center;
    animation-name: titre;
    animation-direction:reverse ;
    animation-iteration-count: infinite;}
body{background-color: rgb(41, 36, 41);}
fieldset{text-align: center;}
.p{background-color: lightpink;text-decoration:none;margin: 20px;border-radius: 10px;padding: 12px;color:palevioletred; margin-top: 50px;
}
.l1{
    display: inline-block;width: 430px;margin-bottom: 10px;           
}
p{color: aliceblue}
#text{border-radius: 5%;border-color: rgb(88, 79, 88);border-width: 5px;}
img{width:10px;}
div{margin-top: 50px;margin-bottom: 50px}